## Suppress mime type detection in browsers for unknown types

<IfModule mod_headers.c>
Header always set X-Content-Type-Options "nosniff"
Header append X-FRAME-OPTIONS "SAMEORIGIN"
Header set Strict-Transport-Security "max-age=31536000" env=HTTPS
</IfModule>

Header set Content-Security-Policy "default-src 'self';"
